<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.microsoft.mvp" android:versionCode="1" android:versionName="1.1">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
	<application android:label="Microsoft MVP" android:theme="@style/Theme.MyTheme" android:icon="@mipmap/ic_launcher">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDcpXiOwahx0aobNR2nheVwRT8chaB_D7A" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>